# Ignore configuration files that may contain sensitive information.
sites/default
sites/default/settings*.php
sites/default/default-settings*.php

# Ignore paths that contain user-generated content.
sites/default/files
sites/default/*/private
nbproject
