body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.form-actions {
  background-color: #ffffff;
}
#header,
.navbar-inner,
.navbar-inverse .navbar-inner {
background-color: #111111;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
border: none;
box-shadow: none;
color: #fffeff;
}
.navbar-inner .btn,
.navbar-inverse .btn.btn-inverse,
.btn-group > .btn .dropdown-toggle,
#oa-user-badge .user-badge {
background-color: #333333;
background-image: -moz-linear-gradient(top, #111111, #333333);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#333333));
background-image: -webkit-linear-gradient(top, #111111, #333333);
background-image: -o-linear-gradient(top, #111111, #333333);
background-image: linear-gradient(to bottom, #111111, #333333);
box-shadow: none;
border-color: #333333;
color: #fffeff;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse,
.navbar-inner ul#oa_breadcrumb .btn,
.navbar-inverse #oa-user-badge .user-badge,
.navbar-inverse #toolbar-menu-button {
  color: #fffeff;
}
.navbar-inverse .nav > li > a,
.navbar .nav > li > a {
  color: #fffeff;
  background-color: transparent !important;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  color: #23aeff;
}
.navbar .nav > .active > a:hover,
.navbar .nav > li > a:hover {
  color: #018fe2;
}
ul#oa_breadcrumb a.dropdown-toggle.btn.btn-inverse,
.navbar-inner a.dropdown-toggle.btn {
  background-color: #333333 !important;
}
#oa-navbar .panel-panel .panel-pane {
  border-color: #333333 ! important;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse .caret,
.navbar-inner .caret {
border-top: 6px solid #fffeff;
border-right: 6px solid transparent;
border-left: 6px solid transparent;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #e3e3e3;
}
#page-wrapper,
#footer-wrapper,
body #footer {
  background-color: #003853;
}

#page-wrapper a,
#footer-wrapper a,
body #footer a {
  color: #fffeff;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
.oa-banner-overlay,
.oa-banner-slogan-overlay {
  color: #fffeff;
}
.oa-banner-text,
.oa-banner-slogan {
  color: #fffeff;
}
.oa-pane .pane-title {
color: #3b3b3b;
background-color: #ffffff;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.oa-pane .panel-pane {
color: #3b3b3b;
background-color: #ffffff;
border-color: #e3e3e3;
}
.oa-pane {
border-color: #e3e3e3;
}
#oa-navbar .panel-panel .pane-oa-navigation,
#oa-navbar .panel-panel .pane-oa-space-banner {
background-color: #003853;
}
