html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    font-family: ProximaNovaSoft-Regular;
}

/* Corrects the oa-pane issue */
.panels-ipe-sort-container > .oa-pane{
    border: none;
}

/* align "add content" command buttons*/
.oa-command-buttons {
    margin: 0 0 15px;
    text-align: center;
}

/* Due date correction for the worktracker form*/
.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate label{
    position: relative !important;
}
/* oa-pane title */
.oa-pane .pane-title{
    font-weight: normal;
    background-image: none;
}

/* Home page's welcome message */
#tgd-home-intro{
    margin-top: 40px;
    font-size: 1.3em;
    line-height: 1.1em;
    text-align:center;
}

/* Home page RSS feeds*/
.pane-content .views-field-title{
    font-size: 1.3em;
}
.pane-content .views-field-timestamp{
    font-size : 0.8em;
    color: #666;
}
.pane-content .views-field-description{
    margin-bottom:20px;
}

/* "add your own content" panel */
#add-your-content.panel-pane {
    background-color:#ddd;
}

#add-your-content.panel-pane .pane-title{
    text-align: center;
    background-color: transparent;
    background-image: none;
}

/* date in recent activity pane 
.field-content{
    background-color: #eee;
    border-radius: 7px;
    padding: 2px 5px;
}*/
/* no results found text*/
.no-results-found{
    text-align: center;
    margin: 30px 20px;
    color: #666;
    font-style: italic;
}

.oa-pane.inner-pane{
    margin-bottom: 10px;
}

.oa-pane .pane-open-atrium-discussions-latest-replies{
    padding-bottom:0px;
}

.oa-pane .pane-content, 
.oa-pane .pane-open-atrium-discussions-latest-replies .pane-content{
    padding-top:0px;
}

.oa-pane .pane-open-atrium-discussions-latest-replies .pane-content .group-header{
    margin-top:0px;
}

.oa-pane .pane-tgd-polls-polls-list .pane-content,
.oa-pane .pane-open-atrium-news-oa-recent-news .pane-content,
.oa-pane .pane-oa-worktracker-task-list .pane-content,
.oa-pane .pane-open-atrium-news-recent-documents-table .pane-content{
    padding: 0px;
}

.oa-pane .pane-tgd-polls-polls-list .pane-content table,
.oa-pane .pane-open-atrium-news-oa-recent-news .pane-content table,
.oa-pane .pane-oa-worktracker-task-list .pane-content table,
.oa-pane .pane-open-atrium-news-recent-documents-table .pane-content table{
    margin-bottom: 0px;
}

.latest-replies .latest-replies-row .reply-body p{
    margin: 5px 10px;
    font-size: 12px;
}

/* "latest replies" pager */
.item-list .pager li{
   margin : 0 0.5em 0.25em 0.5em;
}

/* avatars in oa-list */
.oa-list .pull-left  img{
    padding : 0px;
    border-radius: 15px;
    margin-right : 10px;
}

/* titles in pane-content*/
.pane-content .view-oa-worktracker .views-field-title{
    font-size: 1em;
}

.group-header{
    margin-top:0;
}

#recent-documents-table-long thead .views-field-title{
    font-size :1em;
}

#recent-documents-table-long .views-field-title{
    width : 20%;

}

#recent-documents-table-long .views-field-created{
    width : 20%;
}

/* Colorizer */
.pane-title > a,
.pane-title > a:hover,
.pane-title > a:active,
.pane-title > a:visited{
   color: white;
   font-weight: bold;
}

#data-space-pane .pane-title{
    background-color: #FCC636;
}

#corporate-space-pane .pane-title{
    background-color: #9ACBEE;
}

#users-space-pane .pane-title{
    background-color: #7FBA77;
}

#product-space-pane .pane-title{
    background-color: #E8604C;
}

#data-space-pane .pane-title,
#corporate-space-pane .pane-title,
#users-space-pane .pane-title,
#product-space-pane .pane-title{
    border-radius :2px 2px 0 0;
}


#oa-navbar .panel-panel .pane-oa-navigation.corporate-space-colorizer,
body #footer.corporate-space-colorizer{
    background-color: #9ACBEE;
    background-image: url(../images/background-blue.png);
    background-position: -2px -2px;
    border-bottom: 1px solid #9ACBEE;
    border-top: 1px solid #9ACBEE;  }
#oa-navbar .panel-panel .pane-oa-navigation.data-space-colorizer,
body #footer.data-space-colorizer{
    background-color: #FCC636;
    background-image: url(../images/background-yellow.png);
    background-position: -2px -2px;
    border-bottom: 1px solid #FCC636;
    border-top: 1px solid #FCC636;  }

#oa-navbar .panel-panel .pane-oa-navigation.product-space-colorizer,
body #footer.product-space-colorizer{
    background-color: #E8604C;
    background-image: url(../images/background-red.png);
    background-position: -2px -2px;
    border-bottom: 1px solid #E8604C;
    border-top: 1px solid #E8604C;  }

#oa-navbar .panel-panel .pane-oa-navigation.users-space-colorizer,
body #footer.users-space-colorizer{
    background-color: #7FBA77;
    background-image: url(../images/background-green.png);
    background-position: -2px -2px;
    border-bottom: 1px solid #7FBA77;
    border-top: 1px solid #7FBA77;  }

#oa-navbar .panel-panel .pane-oa-navigation.default-space-colorizer,
body #footer.default-space-colorizer{
    background-color: #00557E ;
    background-image: url(../images/background-blue-dark.png);
    background-position: -2px -2px;
    border-bottom: 1px solid #00557E;
    border-top: 1px solid #00557E;    
}

#footer p{
    color: white;
    text-align: right;
    font-size: 15px;
}

#footer p > a{
    color: white;
}